body{
    margin: 0;
    text-align: center;
    color: #393d41;
    line-height: 1.65;
    max-width: fit-content;
}
header{
    background-color: black;
    padding: 2rem;
}
#logo{
    width: 125px;
}
h1{
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #25a2c3;
    font-size: 2rem;
    line-height: 1.0;
    font-family: Montserrat;
}
h2{
    font-weight: bold;
    color:#25a2c3;
    font-family: Montserrat;
    font-size: 1.2rem;

}
.banner{
    background-image:url(/assets/images/banner.jpg);
    max-width: 100%;
    padding: 2rem;
    height: 300px;
    font-family: Open Sans;
    line-height: 1.6;
    padding: 2rem;
    font-size: 1.1rem;
    
}
button{
    margin: 2rem;
    background-color:#f04c2f;
    padding: 1rem;
    font-weight: bold;
    width: 8rem;
    color: white;
    font-family: Montserrat;
    border-radius: 7%;
    border: none;
}
.second{
    padding-top: 3rem;
}
.pclass{
    font-family: Open Sans;
    font-size: 1.1rem ;
    padding: 1rem;
}
.firsti{
    border-radius: 60%;
    position:relative;
    margin-left: 10%;
    margin-right: 10%;
    size: 30px;
    max-width: 100%;
    padding: 2rem;

}
.h3{
    font-weight: bold;
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.art1{
    background-color: #f04c2f;
    color: white;
}
.rp{
    font-style:oblique;
}